@font-face {
  font-family:Courier Prime;
  src: url(Courier-Prime.ttf);
}
h2 {
	word-break: break-all;
	font-family:inherit;
	font-weight:600;
}
body {
	font-size:1.0em;
	font-weight:500;
	font-family: Courier Prime;
}
pre {
	margin:0.1em;
	font-size:1em;
	font-family: Courier Prime;
	white-space: pre-wrap;
}

div.interloper {
	padding:0.1em;
	color:white;
}

div.interloper > table {
	border-spacing: 0em;
	font-size:1em;
}

div.interloper > table > tbody > tr {
	padding:10px;
	color:white;
}

@keyframes scanlines {
  from {
    background-position: 0 0px;
  }
  to {
    background-position: 0 2em;
  }
}

.crteffect {
	background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
	background-size: 100% 6px, 10px 100%;
	animation: scanlines infinite 3s linear ;
}

div.interloper > table {
	width:100%
}

div.interloper > table > tbody > tr:nth-child(odd) {
	background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
	background-size: 100% 6px, 10px 100%;
	background-color: #2c2557;
}

div.interloper > table > tbody > tr:nth-child(even) {
	/*background-color: var(--backgroundcolor);*/
	
}

div.interloper > table > tbody > tr > th {
	padding:0.5em 0em 0.5em 0em;
	font-weight:350;
}

div.interloper > table > tbody > tr > th:nth-child(1) {
	font-size:0.8em;
	text-align:center;
	width:23%;
}

div.interloper > table > tbody > tr > th:nth-child(2) {
	text-align:left;
	padding:0.5em
}



.connectionStability {
	color:orange;
}

.timecode {
	font-family:inherit;
	color:#595959
}
.radioflavor {
	color:#595959;
	font-style: italic;
}
.apb {
	--bordercolor:	#db2800;
	--backgroundcolor:  #ffa894;
}
.technicians {
	--bordercolor:#e6993c;
	--backgroundcolor:#f5d8b5;
}
.overwatchonly {
	--bordercolor:#a11402;
	--backgroundcolor: #f0aca1;
}
.windbreaker {
	--bordercolor:#adacac;
	--backgroundcolor:#d6d6d6;
}
.farmer {
	--bordercolor: #80db56;
	--backgroundcolor: #b7ff9e;
}
.autounit {
	--bordercolor: #0061b5;
	--backgroundcolor: #bde0ff;
}
.interloper {
	--bordercolor: #000000;
	--backgroundcolor: #2b1545;
}
.healthcare {
	--bordercolor: #3ba7ff;
	--backgroundcolor: #def0ff;
}
h2 {
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	left:3em;
	border-style: solid;
	border-radius:8px;
	padding:0.2em 0.5em 0em 0.5em;
	margin-top:0.2em;
	width:fit-content;
	border-color: var(--bordercolor);
	background-color:var(--bordercolor)
}
h2.overwatchonly, h2.apb, h2.autounit, h2.interloper {
	color:white;
}
.relay {
	margin:1em;
	padding:0.25em 0.5em 0.8em 1em;
	font-size:1.3em;
	border-style: solid;
	border-radius: 20px;
	border-width:8px;
	background-color:var(--backgroundcolor);
	border-color:var(--bordercolor);
}
.relay.human {
	width:70%;
}
.relay.robot {
	width:70%;
	margin-left:25%
}
.relay.radio {
	width:65%;
	margin-left:15%
}

/* name colors */

.nameProvost {
	color:#990000;
}
.nameSupervisor {
	color: #75700b;
}
.nameArchive {
	color:#1155cc;
}
.nameBulletin {
	color:#38761d;
}
.nameSpikefield {
	color:#000000;
}
.nameHuman {
	color:#351c75;
}
.nameRoomIntelligence {
	color:#85200c;
}
.nameAutounit {
	color:#0b5394;
}
.nameRottmund {
	color: #8c0000;
	text-shadow: 1px 1px 2px #5c0000;
}

/* icons

some css code taken/adapted from https://scp-wiki.wikidot.com/site-69 <3
*/

.icon {
	background-size: 2.5rem;
	background-position: center;
	background-repeat: no-repeat;
	height: 2.7rem;
	width: 3rem;
	display: inline-block;
	font-size: 0px;
	transform: translateY(-1.9rem);
	margin:1.5rem -0.7rem -1.7rem -1rem;
}
th > span.icon {
	transform: translateY(-1.6rem);
	height:1.3rem;
	width:1.6rem;
	background-size:1.3rem;
}

.icon-tech {
	background-image: url("symbols/bx--wrench.png");
}
.icon-oso {
	background-image: url("symbols/bx--power-off.png");
}
.icon-mic {
	background-image: url("symbols/bx--microphone.png");
}
.icon-apb {
	background-image: url("symbols/bx--cctv.png");
}
.icon-farm {
	background-image: url("symbols/bx--wind.png");
}
.icon-autounit {
	background-image: url("symbols/bx--polygon.png");
}
.icon-eye {
	background-image: url("symbols/eye.png");
}

.icon-cat {
	background-image: url("symbols/bxs--cat.png");
}
.icon-crown {
	background-image: url("symbols/bxs--crown.png");
}
.icon-firstaid {
	background-image: url("symbols/bxs--first-aid.png");
}
.icon-radiation {
	background-image: url("symbols/bxs--radiation.png");
}
.icon-bolt {
	background-image: url("symbols/bxs--bolt-circle.png");
}

/* flashing text */

@keyframes blinker {
  50% {
    opacity: 0.2;
  }
}

.warning {
  animation: blinker 1.5s linear infinite;
  font-size:1.2em;
}